/*    Fonts
-------------------------------------------------------------- */
$primary-font: "Lato", helvetica, arial, sans-serif;
$secondary-font: "Open Sans", verdana, tahoma, sans-serif;
$tertiary-font: "Oswald", verdana, tahoma, sans-serif;


/*    Colors
-------------------------------------------------------------- */

// General
$black: #000;
$white: #fff;
$bg: #fff;

// Typography
$text-color: #222; // used for main body text
$h1: #222; // used for <h1>'s
$h2: #222; // used for <h2>'s
$h3: #222; // used for <h3>'s
$link: #f00; // main link color
$link-hover: #222; // main link hover color

// Shadows - used for box and text shadows
$shadow-5: rgba(0,0,0, .5);
$shadow-10: rgba(0,0,0, .10);
$shadow-15: rgba(0,0,0, .15);
$shadow-20: rgba(0,0,0, .20);
$shadow-25: rgba(0,0,0, .25);
$shadow-30: rgba(0,0,0, .30);
$shadow-35: rgba(0,0,0, .35);
$shadow-40: rgba(0,0,0, .40);
$shadow-45: rgba(0,0,0, .45);
$shadow-50: rgba(0,0,0, .50);
$shadow-55: rgba(0,0,0, .55);
$shadow-60: rgba(0,0,0, .60);
$shadow-65: rgba(0,0,0, .65);
$shadow-70: rgba(0,0,0, .70);
$shadow-75: rgba(0,0,0, .75);
$shadow-80: rgba(0,0,0, .80);
$shadow-85: rgba(0,0,0, .85);
$shadow-90: rgba(0,0,0, .90);
$shadow-95: rgba(0,0,0, .95);



/*    Units
-------------------------------------------------------------- */

// Typography
$font-size: .875rem; // used for main body text
$line-height: 1.125rem; // used for line-height on main body text
$h1-size: 2.5rem; // used for size of content <h1>
$h2-size: 2rem; // used for size of content <h2>
$h3-size: 1.5rem; // used for size of content <h3>